html{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-items: center;
    height: 100vh;
    background: #121b51;
}

main{
    display: flex;
    align-items: center;
    height: 50vh;
    width: 50%;
    overflow: hidden;
}

.pacman{
    position: relative;
    background:transparent;
    z-index: 1;
}

.pacman::before, .pacman::after{
    content: "";
    height: 0px;
    width: 0px;
    top: -35px;
    display: block;
    position: absolute;
    border-radius: 50%;
}

.pacman::before{
    border: 200px solid #e3d41d;
    border-left-color: transparent;
    border-bottom-color: transparent;
    animation: eating-top .5s ease infinite;
}

.pacman::after{
    border: 200px solid #e3d41d;
    border-right-color: transparent;
    border-top-color: transparent;
    animation: eating-bottom .5s ease infinite;
}

@keyframes eating-top{
    0%, 100%{
        transform: rotate(-45deg);
    }

    50%{
        transform: rotate(-80deg);
    }
}

@keyframes eating-bottom{
    0%, 100%{
        transform: rotate(-40deg);
    }

    50%{
        transform: rotate(0deg);
    }
}

